body{
    background: linear-gradient(-65deg,rgb(60, 60, 145), rgb(194, 194, 40), rgb(155, 87, 63), white, purple);
    height: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.rightSide{
    display: flex;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.welcomeInfo{
    margin-left: 10%;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.leftSide{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 5px;
}

.box{
    height: 140px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: grey;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}

.box:hover{
    padding-left: 30px;
    color: black;
}

.box a{
    text-decoration: none;
    color: black;
}

.box a:hover{
    border-bottom: 1px solid;
}

.box1{
    background-color: rgb(60, 60, 145);
}

.box2{
    background-color: rgb(194, 194, 40);
}

.box3{
    background-color: rgb(155, 87, 63);
}

.box4{
    background-color: #fff;
}

.box5{
    background-color: purple;
}
